/* You can add global styles to this file, and also import other style files */
@import "@ionic/angular/css/core.css";
@import "@ionic/angular/css/normalize.css";
@import "@ionic/angular/css/structure.css";
@import "@ionic/angular/css/typography.css";
@import "@ionic/angular/css/padding.css";
@import "@ionic/angular/css/float-elements.css";
@import "@ionic/angular/css/text-alignment.css";
@import "@ionic/angular/css/text-transformation.css";
@import "@ionic/angular/css/flex-utils.css";
@import "@ionic/angular/css/display.css";


:root {
  --ion-color-primary: #6200ee;
  --ion-color-primary-rgb: 98, 0, 238;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #5600c7;
  --ion-color-primary-tint: #7a33f0;

  --ion-color-secondary: #03dac6;
  --ion-color-secondary-rgb: 3, 218, 198;
  --ion-color-secondary-contrast: #000000;
}